@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.contact{
    .map-wrap{
        .map{
            height: vw(360px);
            background-color: $CLine2;            
            border-top-left-radius: vw(10px);
            border-bottom-left-radius: vw(10px);
        }
    }
    .list-info{
        padding: vw(60px 0);
        margin-bottom: vw(100px);
        border-bottom: vw(1px) solid $CLine;
    }
}