@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.contact{
    .inner-box{
        border-bottom: 1px solid $CLine;
    }
    .map-wrap{
        .map{
            height: 850px;
            background-color: $CLine2;
        }
    }
    .list-info{
        padding: 200px 0;
    }
    .btn-wrap{
        padding: 200px 0 0;
    }
}