@charset "UTF-8";
@import '../common/variable', '../common/mixin';

.recruit {
    .title-wrap2 {
        .en {
            letter-spacing: 1.55px;
        }
        .ko {
            line-height: 92px;
            letter-spacing: 1.45px;
        }
    }
    .btn-wrap {
        margin-left: 20px;
        align-self: center;
    }
    .btn-type {
        background: #ffffff;
    }
    .recruit-visual {
        margin-bottom: 200px;
        [class^='recruit-img'] {
            display: flex;
            &.top {
                justify-content: center;
                margin-bottom: 40px;
                .img-box + .img-box {
                    margin-left: 40px;
                }
            }
            &.bottom {
                margin-left: 260px;
                justify-content: end;
                .img-box + .img-box {
                    margin-left: 40px;
                }
            }
        }
    }
    .swiper {
        .swiper-navigation {
            position: absolute;
            top: -30px;
            left: -50px;
            .swiper-paging {
                font-size: 20px;
            }
        }
        .swiper-slide {
            align-self: center;
        }
        .swiper-button-box {
            .button-next {
                position: absolute;
                top: 50%;
                right: -50px;
                cursor: pointer;
            }
            .button-prev {
                position: absolute;
                top: 50%;
                left: -50px;
                cursor: pointer;
            }
            .ico-arr2 {
                width: 15px;
                height: 30px;
            }
        }
    }
    .recruit-talent {
        padding: 55px 350px 160px;
        margin-bottom: 200px;
        background: $CBg;
        ul {
            margin-top: 60px;
            display: flex;
            li {
                width: 25%;
                padding: 0px 30px;
                .title {
                    margin-bottom: 20px;
                    font-size: 30px;
                    line-height: 36px;
                    color: $CBrand;
                    font-weight: 800;
                    span {
                        display: block;
                        font-size: 21px;
                    }
                }
                .txt {
                    font-size: 20px;
                    line-height: 32px;
                }
            }
        }
    }
    .recruit-wrap {
        width: 1400px;
        margin: 0 auto;
    }
    .recruit-box {
        h5 {
            margin-bottom: 80px;
            padding-bottom: 70px;
            border-bottom: 1px solid #000000;
            font-size: 62px;
            font-weight: 800;
        }
        .sub-wrap {
            h6 {
                margin-bottom: 50px;
                font-size: 36px;
                font-weight: 700;
            }
            &.recruit-list {
            }
        }
    }
}
