@charset "UTF-8";
@import '../css/common/variable';

html,
body {
	overflow: visible;
}

.page-guide-nav {
	position: fixed;
	z-index: 99;
	overflow: hidden;
	overflow-y: auto;
	left: 0;
	top: 0;
	width: 250px;
	height: 100%;
	background: #FFF;
	box-shadow: 1px 0 20px rgba(0, 0, 0, 0.08);

	.nav-title {
		background: #F7FAFC;
		padding: 20px 25px;
		border-bottom: 1px solid #DDD;
		color: #000;
		font-size: 20px;
		letter-spacing: -1px;
		font-weight: bold;

		a {
			display: flex;
			align-items: baseline;
			img{
				display: inline-block;
				width: 70px;
			}
		}

		span {
			margin-left: 10px;
			font-size: 12px;
			color: $CTsub;
			font-weight: 400;
			letter-spacing: 0
		}
	}

	.nav {
		li {
			border-bottom: 1px solid #EDEFF0;

			a {
				position: relative;
				font-size: 18px;
				color: $CTsub;
				display: block;
				padding: 15px 35px 15px 25px;

				&::after {
					content: '';
					display: block;
					position: absolute;
					right: 20px;
					top: 20px;
					width: 8px;
					height: 8px;
					border-width: 1px 1px 0 0;
					border-style: solid;
					border-color: #999 #999 transparent transparent;
					transform: rotate(45deg);
				}
			}

			li {
				padding-left: 20px;

				a {
					&:after {
						display: none;
					}

					&:hover {
						color: #000;
						text-decoration: underline;
					}
				}

				&.on {
					a {
						font-weight: bold;
						padding: 10px 35px 10px 20px;

						&:hover {
							color: #000;
						}
					}
				}
			}
		}

		>li {
			&.on {
				ul {
					margin-left: 10px;
					display: block;
					border-left: 1px dashed $CLine;

					li {
						border: 0;

						a {
							padding: 7px 0;
							border: 0;
							font-size: 15px;
							font-weight: normal;
							color: $CTsub;

							&::before {
								content: "- -";
								color: $CLine;
								position: absolute;
								left: -20px;
								top: 10px;
								font-size: 11px;
							}
						}
					}
				}

				>a {

					&,
					&:hover {
						padding-left: 20px;
						color: #000;
						border-left: 5px solid $CBrand;
						background: #f5f6f7;
					}
				}
			}
		}
	}
}

.page-guide-content {
	min-width: 800px;
	padding-left: 300px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 200px
}

.page-guide-title {
	margin-bottom: 40px;
	font-size: 34px;
	color: #111;
	font-weight: 700;

	&:nth-of-type(n+2) {
		margin-top: 80px;
	}
}

.page-guide-title2 {
	padding: 10px;
	margin-bottom: 30px;
	background: #f5f5f5;
	font-size: 20px;
	color: #111;
	font-weight: 700;
	// text-transform: uppercase;

	&:nth-of-type(n+2) {
		margin-top: 40px;
	}
}

.page-guide-box {
	margin-bottom: 50px;
	
	p{
		&.text{
			font-size:13px;
			color: #ff0000;
		}
	}

	>p {
		a {
			text-decoration: underline;
			color: #042253;
		}
	}
	.btn-wrap{
		&+.btn-wrap{
			margin-top: 40px;
		}
	}
	&.font{
		p{
			font-size: 25px;
			line-height: 1.7em;
			&.text{
				font-size:13px;
				color: #ff0000;
			}
		}
	}
	&.icon{
		i{
			margin:5px;
		}
	}

	&.color {
		&>span {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 122px;
			height: 122px;
			background: #000;
			margin-right: 10px;
			margin-bottom: 10px;
			border-radius: 100%;
			text-align: center;
			color: #fff;
			line-height: 1.25;

			&.CBrand {
				background: $CBrand;
			}
			
			&.CLine {
				background: $CLine;
				color:#000;
			}

			&.CLine2 {
				background: $CLine2;
				color:#000;
			}

			&.CText {
				background: $CText;
			}

			&.CTsub {
				background: $CTsub;
			}

			&.CTsub2 {
				background: $CTsub2;
			}

			&.CTsub3 {
				background: $CTsub3;
			}

			&.CBg {
				background: $CBg;
				color:#000;
			}

			&.CBg2 {
				background: $CBg2;
				color:#000;
			}
		}
	}

	&.font {
		[class^='guide-font-box'] {
			margin-bottom: 30px;
			font-size: 15px;
		}
	}
}

.guide-table th {
	background: #f5f6f7
}

.guide-table th,
.guide-table td {
	padding: 15px 0;
	border: 1px solid #ddd;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	color:#000;
}

.guide-table tr.none td {
	background: #f9f9f9;
	height: 35px
}

.guide-table td {
	font-weight: 400;
}

.guide-table td.bold {
	font-weight: 700;
}

.guide-table tr:hover {
	td {
		background: #f9f9f9;
	}
}

.guide-table tr.focus {
	td {
		background: #ed969e17;
	}
}

@media (max-width: 960px) {
	.page-guide-nav {
		position: inherit;
		width: 100%;

		.nav {
			ul {
				display: none;
			}
		}
	}

	.page-guide-content {
		min-width: auto;
		padding: 30px 10px;

		.guide-title2 {
			display: none;
		}
	}

	.guide-table {
		overflow-x: auto;

		table {
			min-width: 990px;
		}
	}
}