@charset "UTF-8";
@import '../common/variable', '../common/mixin';

.work-item-list {
  padding-top: vw(80px);
  .work-item {
    position: relative;
    .item-img {
      margin-top: vw(-30px);
    }

    .item-title {
      position: relative;
      font-size: vw(48px);
      font-weight: 700;
      line-height: vw(64px);
    }
    .item-sub {
      margin: vw(40px 0 0 20px);
      font-size: vw(24px);
      color: $CTsub;
      line-height: vw(32px);
    }
    &+.work-item{
      margin-top: vw(120px);
    }
  }
}

.culture-item-list {
  padding: vw(110px 60px);
  background: $CBg2;

  .page-guide-box & {
    margin: 0px;
  }

  .culture-item {
    margin-bottom: vw(12px);

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    a {
      display: block;
    }

    .item-img {
      // flex: 0 0 415px;
    }

    .item-info {
      padding-top: vw(40px);
      .item-title {
        margin-bottom: vw(20px);
        font-size: vw(36px);
        font-weight: 700;
        line-height: vw(50px);
      }
      .item-sub {
        @include text-hidden(2, 32);
        margin-bottom: vw(20px);
        color: $CTsub;
        font-size: vw(24px);
      }
      .item-date {
        font-size: vw(24px);
        font-weight: 600;
      }
    }
  }
}
