@charset "UTF-8";
@import '../common/variable', '../common/mixin';

.work-item-list {
  .work-item {
    position: relative;

    & ~ .work-item {
      margin-top: vw(74px);
    }

    .item-title {
      position: relative;
      font-size: vw(24px);
      font-weight: 700;
      line-height: vw(32px);
    }
    .item-img {
      margin-top: vw(-15px);
    }

    .item-sub {
      margin: vw(20px 0 0 10px);
      color: $CTsub;
    }
  }
}

.culture-item-list {
  padding: vw(60px 30px);
  background: $CBg2;

  .page-guide-box & {
    margin: 0px;
  }

  .culture-item {
    margin-bottom: vw(60px);

    &:nth-last-child(1) {
      margin-bottom: 0px;
    }

    a {
      display: block;
    }

    .item-info {
      padding-top: vw(20px);
      .item-title {
        margin-bottom: vw(10px);
        font-size: vw(18px);
        font-weight: 700;
        line-height: vw(25px);
      }
      .item-sub {
        @include text-hidden(2, 16);
        margin-bottom: vw(10px);
        color: $CTsub;
        font-size: vw(12px);
      }
      .item-date {
        font-size: vw(12px);
        font-weight: 600;
      }
    }
  }
}
