@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.btn-wrap {
	text-align: center;
	[class^='btn-type'] {
		&:nth-child(n+2) {
			margin-left: vw(32px);
		}
	}
	.more{
		margin-top: vw(20px);
		font-size: vw(24px);
	}
	&.v2{
		text-align: left;
		h3{
			margin-bottom: vw(26px);
			&+[class^='btn-type'] {
				margin-left: 0;
			}
		}
	}
	&.btn-wrap{
		margin-top: vw(80px);
	}
}

[class^='btn-type'] {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: .3s;
}

.btn-type {
	width: vw(64px);
	height: vw(64px);
	background-color: #fff;
	border: vw(4px) solid $CLine;
	border-radius: vw(24px);
	font-size: 0;
	line-height: vw(64px);
	text-align:center;
	&.btn-up{
		width: vw(68px);
		height: vw(68px);
		border-radius: vw(8px);
	}
	&.v2{
		width: vw(68px);
		height: vw(68px);
		border-radius: vw(8px);
		border: vw(4px) solid $CText;
	}
}

.btn-type2 {
	border-bottom: vw(2px) solid $CText;
	text-align:center;
	p{
		font-size: vw(24px);
	}
	&.v2{
		p{
			font-size: vw(24px);
			font-weight: 700;
		}
	}
}

.btn-type3 {
	display: block;
	font-size: vw(24px);
	font-weight: 700;
	.ico-arr{
		margin-left: vw(16px);
	}
	&.v2{
		width: 100%;
		height: vw(84px);
		background: $CText;
		border-radius: vw(80px);
		font-size: vw(24px);
		font-weight: 500;
		color:#fff;
		text-align:center;
		line-height: vw(84px);
	}
}

.paging-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: vw(120px);
	button {
		display: flex;
		align-items: center;		
		span{
			margin: vw(0 20px);
			font-size: vw(26px);
		}
	}
}
