@charset "UTF-8";
@import "../common/variable", "../common/mixin";

/* svg icon */
[class^="ico-"] {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: contain;
}

//background 처리
.ico-logo {
    width: 33px;
    height: 30px;
    background-image: url(../images/common/logo.svg);

    &.white {
        background-image: url(../images/common/logo_w.svg);
    }
}
.ico-recruit{
    width: 26px;
    height: 26px;
    background-image: url(../images/icon/recruit.svg);
}

// data url 처리(색상, 크기 변경 가능토록)
// stoke 나 fill에 color 변수
@function svgIcon($iconName, $color:000) {
    $iconList: ( 
        arrow: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.434' height='9.19' viewBox='0 0 11.434 9.19'%3E%3Cg id='_ic__' data-name='*ic_&gt;' transform='translate(0.727 1.465)'%3E%3Cline id='선_10' data-name='선 10' x1='9.102' y2='0.023' transform='translate(0.275 3.132)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_11' data-name='선 11' x1='3.094' y1='3.094' transform='translate(6.199 -0.051)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x1='3.09' y2='3.09' transform='translate(6.199 3.22)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A",
        arrow2: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.364' height='12.152' viewBox='0 0 7.364 12.152'%3E%3Cg id='ic__' data-name='ic_&lt;' transform='translate(1.414 1.414)'%3E%3Cg id='그룹_29' data-name='그룹 29'%3E%3Cline id='선_11' data-name='선 11' y1='4.535' x2='4.535' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x2='4.529' y2='4.529' transform='translate(0.006 4.795)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A",
        plus: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.381' height='14.381' viewBox='0 0 14.381 14.381'%3E%3Cg id='_ico_X' data-name='*ico_X' transform='translate(2.533 10.6) rotate(-45)'%3E%3Cg id='_IC__' data-name='*IC_+' transform='translate(-0.114 0.321)'%3E%3Cline id='선_139' data-name='선 139' y1='1' x2='12' transform='translate(2.344 -4.357) rotate(50)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_257' data-name='선 257' x2='12' y2='1' transform='translate(10.058 -3.714) rotate(130)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A",
        close: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.521' height='12.877' viewBox='0 0 11.521 12.877'%3E%3Cg id='_ico_X' data-name='*ico_X' transform='translate(0.057 5.557)'%3E%3Cg id='그룹_137' data-name='그룹 137' transform='translate(-0.114 0.321)'%3E%3Cline id='선_139' data-name='선 139' y1='1' x2='12' transform='translate(2.344 -4.357) rotate(50)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_257' data-name='선 257' x2='12' y2='1' transform='translate(10.058 -3.714) rotate(130)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A"
    );
    $icon: map-get($iconList, $iconName);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

.ico-arr {
    position: relative;
    width: 12px;
    height: 9px;
    background-image: svgIcon(arrow, '000000');
    &.lft {
        transform: rotate(-180deg);
    }
    &.up {
        transform: rotate(-90deg);
    }
    &.down {
        transform: rotate(90deg);
    }
    &.white{
        background-image: svgIcon(arrow, 'ffffff');
    }
    &.plus{
        width: 28px;
        height: 22px;
    }
    &.small{
        width: 9px;
        height: 6px;
    }
}
.ico-arr2 {
    position: relative;
    width: 5px;
    height: 9px;
    background-image: svgIcon(arrow2, '000000');
    &.right {
        transform: rotate(-180deg);
    }
}
.ico-plus{
    width: 13px;
    height: 13px;
    background-image: svgIcon(plus, '000000');
}
.ico-close{
    width: 8px;
    height: 10px;
    background-image: svgIcon(close, '000000');
}