@charset "UTF-8";
@import '../common/variable', '../common/mixin';

#content {
  position: relative;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

.inner-box {
  position: relative;
  padding: 0 30px;
}

.inner-box2 {
  position: relative;
  padding-left: 30px;
}
.sub {
  padding: 100px 0 120px;
}
.main {
  padding: 100px 0 120px;
}
.header-wrap {
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
  z-index: 79;

  &.top {
    background: transparent;
  }

  .logo-box {
    h1 {
      display: flex;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .sub-menu {
    flex-grow: 1;

    .list-depth1 {
      display: flex;
      justify-content: center;
      height: 100%;

      > li {
        // width: 180px;
        padding: 0 30px;
        text-align: center;

        > a {
          font-size: 18px;
          font-weight: 600;
          color: $CTsub2;
          transition: 0.3s;
          &.active {
            color: $CText;
          }
        }
      }
    }
  }
  .side-box {
    a {
      display: flex;
      span {
        margin-right: 15px;
        font-size: 18px;
      }
    }
  }
}

.footer-wrap {
  position: relative;
  padding: 60px 30px;
  background-color: #000;
  .info-box {
    margin-top: 60px;
    font-size: 12px;
    color: $CTsub3;
    line-height: 18px;
    .info-item {
      dl {
        dt {
          font-size: 14px;
          font-weight: 700;
          color: #fff;
        }
        dd {
          margin-top: 10px;
          p{
            &+p{
              margin-top: 8px;
            }
          }
        }
        & + dl {
          margin-top: 40px;
        }
      }
    }
    .copy {
      margin-top: 60px;
      color:rgba($color: #999, $alpha: 0.5)
    }
  }
}
