@charset "UTF-8";
@import '../common/variable', '../common/mixin';

#content {
  position: relative;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

.inner-box {
  position: relative;
  padding: vw(0 60px);
}

.inner-box2 {
  position: relative;
  padding-left: vw(60px);
}
.sub {
  padding: vw(200px 0 240px);
  .inner-box2 {
    & > .title-wrap2 {
      margin-bottom: vw(80px);
      & + .title-wrap {
        position: relative;
        margin-bottom: vw(-42px);
        z-index: 10; 
      }
    }
  }
}
.main {
  padding: vw(200px 0 240px);
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: vw(60px 60px);
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
  z-index: 79;

  &.top {
    background: transparent;
  }

  .logo-box {
    h1 {
      display: flex;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .btn-gnb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: vw(68px);
    height: vw(68px);
		border-radius: vw(8px);
		border: vw(4px) solid $CText;
    z-index: 45;
    /* css */
    .icon-menu{
      position: relative;
      width: vw(20px);
      height: vw(14px);
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      z-index: 99;
      .line{
        display: block;
        width: vw(20px);
        height: vw(4px);
        background-color:#000;
        transition: .4s;
        &:nth-child(2){
          width: vw(16px);
        }
      }
      &.open{
        .line{
          width: vw(28px);
          height: vw(4px);
          background-color:#000;
          &:nth-child(1){
            transform: rotate(-45deg) translate(vw(-6px,2px));
          }
          // &:nth-child(2){
          //   display:none;
          // }
          &:nth-child(2){
            // width: 10px;
            transform: rotate(45deg) translate(vw(-4px,-2px));
          }
        }
      }
    }
  }
  
	.gnb-wrap {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
		z-index: 40;
		transform: translateX(100%);
		transition: 0.3s ease-out;
		background: #fff;
		.gnb-inner {
      width: 100%;
      padding: vw(0 60px);
      .gnb-list {
        overflow: hidden;
        overflow-y: auto;
        ul {
          li {
            position: relative;
            width: 100%;
            a {
              display: flex;
              align-items: center;
              width: 100%;
              font-size: vw(60px);
              font-weight: 800;
              .ico-recruit{
                margin-left: vw(24px);
              }
            }
            &.active{
            }
            &+li{
              margin-top:vw(60px);
            }
          }
          &+ul{
            margin-top: vw(80px);
            padding-top: vw(80px);
            border-top: vw(4px) solid $CText;
          }
        }
      }
		}
		&.active {
			transform: translateX(0%);
		}
	}
}

.footer-wrap {
  position: relative;
  padding: vw(120px 60px);
  background-color: #000;
  .info-box {
    margin-top: vw(120px);
    font-size: vw(24px);
    color: $CTsub3;
    line-height: vw(36px);
    .info-item {
      dl {
        dt {
          font-size: vw(28px);
          font-weight: 700;
          color: #fff;
        }
        dd {
          margin-top: vw(20px);
          p{
            &+p{
              margin-top: vw(16px);
            }
          }
        }
        & + dl {
          margin-top: vw(80px);
        }
      }
    }
    .copy {
      margin-top: vw(120px);
      color:rgba($color: #999, $alpha: 0.5)
    }
  }
}

#btn-top{
  position: fixed;
  bottom: vw(60px);
  right: vw(60px);
  &.up{
    opacity: 0;
  }
}