@charset "UTF-8";
@import '../common/variable', '../common/mixin';

.table-wrap {
  border-top: vw(4px) solid #000000;
  // border-bottom: 2px solid $CLine;
  th {
    padding: vw(40px 0);
    font-size: vw(24px);
    font-weight: 500;
    text-align: left;
    border-bottom: vw(4px) solid $CLine2;
    letter-spacing: vw(-0.6px);
  }
  th:first-child {
    padding-left: vw(20px);
  }
  tr {
    td {
      padding:vw(0 20px 100px 0);
      line-height: vw(44px);
      font-size: vw(24px);
      font-weight: 400;
      letter-spacing: vw(-1.2px);
    }
    td:first-child {
      padding: vw(0 0 0 20px);
      font-weight: 600;
      letter-spacing: vw(-0.6px);
    }
  }
  tr:first-child td {
    padding-top: vw(80px);
  }
}
