@charset "UTF-8";
@import '../common/variable', '../common/mixin';

[class^='title-wrap'] {
  position: relative;
  word-break: keep-all;

  .side-box {
    @include abs(v);
    right: 0;
  }
  .btn-type {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
}

.title-wrap {
  display: flex;
  margin-bottom: vw(30px);
  text-align: center;
}

.title-wrap2 {
  .en {
    margin-top: vw(15px);
    letter-spacing: vw(0.3px);
    font-weight: 600;
  }
  .ko {
    font-size: vw(24px);
    line-height: vw(32px);
    letter-spacing: vw(0.6px);
  }
}
.title-type {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: vw(28px);
  font-weight: 800;
  &.v2 {
    font-size: vw(38px);
    text-transform: uppercase;
  }
  &.title-line {
    font-size: vw(24px);
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: vw(2px);
      background-color: #000;
      border-radius: vw(10px);
    }
  }
  span {
    display: block;
    width: vw(2px);
    height: vw(16px);
    margin: vw(0 10px);
    background-color: #000;
    transform: rotate(27deg);
  }
  & + .title-type2 {
    margin-top: vw(30px);
    line-height: vw(18px);
    font-weight: 400;
  }
}

.recruit-list {
  p{
    margin-top: vw(25px);
    font-size: vw(10px);
  }
}

.all-list {
  li {
    display: flex;
    position: relative;
    span {
      letter-spacing: vw(-0.3px);
      // max-width: 795px;
      line-height: vw(18px);
    }
    .part {
      min-width: vw(80px);
      font-weight: 700;
      letter-spacing: vw(-0.6px);
    }
  }
  li ~ li {
    margin-top: vw(25px);
  }
}

.common-list {
  align-self: center;
  li {
    font-size: vw(20px);
    line-height: vw(32px);
  }
  li + li {
    margin-top: vw(15px);
  }
}

.list-info {
  dl {
    dt {
      margin-bottom: vw(15px);
      font-size: vw(18px);
      font-weight: 700;
    }
    dd {
      font-weight: 500;
      line-height: vw(18px);
      p{
        &+p{
          margin-top: vw(10px);
        }
      }
      dl{
        display: flex;
      }
      & + dd {
        margin-left: vw(30px);
      }
    }
    & + dl {
      margin-top: vw(40px);
    }
  }
}
