@charset "UTF-8";
//Color
$CBrand: #01A0E9;

$CText: #000;

$CTsub: #666;
$CTsub2: #999;
$CTsub3: #aaa;

$CBg: #F8F8F8;
$CBg2: rgba(1, 160, 233, 0.08);

$CLine: #ccc;
$CLine2: #eee;

//Font
$font: Pretendard, sans-serif;
