@charset "UTF-8";
<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-break: break-all;
  font-family: Pretendard, sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  word-wrap: break-word;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address,
caption,
em,
var {
  font-style: normal;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

/* 링크 */
a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

select,
input,
textarea {
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #000;
}

input[type=text],
input[type=submit],
input[type=password],
input[type=search],
input[type=number],
input[type=reset],
input[type=email],
input[type=tel],
input[type=search],
input[type=file],
input[type=email],
input[type=tel] {
  padding: 0 22px;
  height: 59px;
  line-height: 59px;
  border: 1px solid #aaa;
  font-size: 18px;
  font-weight: 400;
}

input[type=radio],
input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=search]:focus,
textarea:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

input[readonly] {
  pointer-events: none;
}

<<<<<<< Updated upstream
=======
::-moz-placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

:-ms-input-placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

>>>>>>> Stashed changes
::placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

textarea {
  overflow: auto;
  padding: 22px;
  resize: none;
  font-size: 18px;
  border: 1px solid #aaa;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  color: inherit;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
button:disabled {
  cursor: default;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

<<<<<<< Updated upstream
=======
::-moz-selection {
  background: #01A0E9;
  color: #fff;
}

>>>>>>> Stashed changes
::selection {
  background: #01A0E9;
  color: #fff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
#content {
  position: relative;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.inner-box {
  position: relative;
  padding: 0 30px;
}

.inner-box2 {
  position: relative;
  padding-left: 30px;
}

.sub {
  padding: 100px 0 120px;
}

.main {
  padding: 100px 0 120px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  padding: 0 30px;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
  z-index: 79;
}
<<<<<<< Updated upstream

.header-wrap.top {
  background: transparent;
}

.header-wrap .logo-box h1 {
  display: flex;
}

=======
.header-wrap.top {
  background: transparent;
}
.header-wrap .logo-box h1 {
  display: flex;
}
>>>>>>> Stashed changes
.header-wrap .logo-box a {
  display: flex;
  align-items: center;
  height: 100%;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .btn-gnb {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 2px solid #000;
  z-index: 45;
  /* css */
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .btn-gnb .icon-menu {
  position: relative;
  width: 10px;
  height: 7px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 99;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .btn-gnb .icon-menu .line {
  display: block;
  width: 10px;
  height: 2px;
  background-color: #000;
<<<<<<< Updated upstream
  transition: .4s;
}

.header-wrap .btn-gnb .icon-menu .line:nth-child(2) {
  width: 8px;
}

=======
  transition: 0.4s;
}
.header-wrap .btn-gnb .icon-menu .line:nth-child(2) {
  width: 8px;
}
>>>>>>> Stashed changes
.header-wrap .btn-gnb .icon-menu.open .line {
  width: 14px;
  height: 2px;
  background-color: #000;
}
<<<<<<< Updated upstream

.header-wrap .btn-gnb .icon-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, 1px);
}

.header-wrap .btn-gnb .icon-menu.open .line:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -1px);
}

=======
.header-wrap .btn-gnb .icon-menu.open .line:nth-child(1) {
  transform: rotate(-45deg) translate(-3px, 1px);
}
.header-wrap .btn-gnb .icon-menu.open .line:nth-child(2) {
  transform: rotate(45deg) translate(-2px, -1px);
}
>>>>>>> Stashed changes
.header-wrap .gnb-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 40;
  transform: translateX(100%);
  transition: 0.3s ease-out;
  background: #fff;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .gnb-wrap .gnb-inner {
  width: 100%;
  padding: 0 30px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .gnb-wrap .gnb-inner .gnb-list {
  overflow: hidden;
  overflow-y: auto;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li {
  position: relative;
  width: 100%;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 30px;
  font-weight: 800;
}
<<<<<<< Updated upstream

.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li a .ico-recruit {
  margin-left: 12px;
}

.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li + li {
  margin-top: 40px;
}

=======
.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li a .ico-recruit {
  margin-left: 12px;
}
.header-wrap .gnb-wrap .gnb-inner .gnb-list ul li + li {
  margin-top: 40px;
}
>>>>>>> Stashed changes
.header-wrap .gnb-wrap .gnb-inner .gnb-list ul + ul {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 2px solid #000;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.header-wrap .gnb-wrap.active {
  transform: translateX(0%);
}

.footer-wrap {
  position: relative;
  padding: 60px 30px;
  background-color: #000;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.footer-wrap .info-box {
  margin-top: 60px;
  font-size: 12px;
  color: #aaa;
  line-height: 18px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.footer-wrap .info-box .info-item dl dt {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}
<<<<<<< Updated upstream

.footer-wrap .info-box .info-item dl dd {
  margin-top: 10px;
}

.footer-wrap .info-box .info-item dl dd p + p {
  margin-top: 8px;
}

.footer-wrap .info-box .info-item dl + dl {
  margin-top: 40px;
}

=======
.footer-wrap .info-box .info-item dl dd {
  margin-top: 10px;
}
.footer-wrap .info-box .info-item dl dd p + p {
  margin-top: 8px;
}
.footer-wrap .info-box .info-item dl + dl {
  margin-top: 40px;
}
>>>>>>> Stashed changes
.footer-wrap .info-box .copy {
  margin-top: 60px;
  color: rgba(153, 153, 153, 0.5);
}

#btn-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
#btn-top.up {
  opacity: 0;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
.btn-wrap {
  text-align: center;
}
<<<<<<< Updated upstream

.btn-wrap [class^='btn-type']:nth-child(n+2) {
  margin-left: 16px;
}

.btn-wrap.v2 {
  text-align: left;
}

.btn-wrap.v2 h3 {
  margin-bottom: 13px;
}

.btn-wrap.v2 h3 + [class^='btn-type'] {
  margin-left: 0;
}

=======
.btn-wrap [class^=btn-type]:nth-child(n+2) {
  margin-left: 16px;
}
.btn-wrap.v2 {
  text-align: left;
}
.btn-wrap.v2 h3 {
  margin-bottom: 13px;
}
.btn-wrap.v2 h3 + [class^=btn-type] {
  margin-left: 0;
}
>>>>>>> Stashed changes
.btn-wrap.btn-wrap {
  margin-top: 40px;
}

<<<<<<< Updated upstream
[class^='btn-type'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
=======
[class^=btn-type] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
>>>>>>> Stashed changes
}

.btn-type {
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 0;
  text-align: center;
  line-height: 32px;
}
<<<<<<< Updated upstream

.btn-type.btn-up {
  border-radius: 5px;
}

=======
.btn-type.btn-up {
  border-radius: 5px;
}
>>>>>>> Stashed changes
.btn-type.v2 {
  width: 34px;
  height: 34px;
  border-radius: 4px;
  border: 2px solid #000;
}

.btn-type2 {
  border-bottom: 1px solid #000;
  text-align: center;
}
<<<<<<< Updated upstream

.btn-type2 p {
  font-size: 12px;
}

=======
.btn-type2 p {
  font-size: 12px;
}
>>>>>>> Stashed changes
.btn-type2.v2 p {
  font-size: 12px;
  font-weight: 700;
}

.btn-type3 {
  display: block;
  font-size: 12px;
  font-weight: 700;
}
<<<<<<< Updated upstream

.btn-type3 .ico-arr {
  margin-left: 8px;
}

=======
.btn-type3 .ico-arr {
  margin-left: 8px;
}
>>>>>>> Stashed changes
.btn-type3.v2 {
  width: 100%;
  height: 42px;
  background: #000;
  border-radius: 40px;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  line-height: 42px;
}

.paging-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.paging-wrap button {
  display: flex;
  align-items: center;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.paging-wrap button span {
  margin: 0 10px;
  font-size: 13px;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/* svg icon */
[class^="ico-"] {
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/* svg icon */
[class^=ico-] {
>>>>>>> Stashed changes
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: 50% 50%;
  background-size: contain;
}

.ico-logo {
  width: 36px;
  height: 32px;
  background-image: url(../images/common/logo.svg);
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.ico-logo.white {
  width: 30px;
  height: 27px;
  background-image: url(../images/common/logo_w.svg);
}

.ico-recruit {
  width: 26px;
  height: 26px;
  background-image: url(../images/icon/recruit.svg);
}

.ico-arr {
  position: relative;
  width: 12px;
  height: 9px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.434' height='9.19' viewBox='0 0 11.434 9.19'%3E%3Cg id='_ic__' data-name='*ic_&gt;' transform='translate(0.727 1.465)'%3E%3Cline id='선_10' data-name='선 10' x1='9.102' y2='0.023' transform='translate(0.275 3.132)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_11' data-name='선 11' x1='3.094' y1='3.094' transform='translate(6.199 -0.051)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x1='3.09' y2='3.09' transform='translate(6.199 3.22)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
<<<<<<< Updated upstream

.ico-arr.lft {
  transform: rotate(-180deg);
}

.ico-arr.up {
  transform: rotate(-90deg);
}

.ico-arr.down {
  transform: rotate(90deg);
}

.ico-arr.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.434' height='9.19' viewBox='0 0 11.434 9.19'%3E%3Cg id='_ic__' data-name='*ic_&gt;' transform='translate(0.727 1.465)'%3E%3Cline id='선_10' data-name='선 10' x1='9.102' y2='0.023' transform='translate(0.275 3.132)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_11' data-name='선 11' x1='3.094' y1='3.094' transform='translate(6.199 -0.051)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x1='3.09' y2='3.09' transform='translate(6.199 3.22)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}

=======
.ico-arr.lft {
  transform: rotate(-180deg);
}
.ico-arr.up {
  transform: rotate(-90deg);
}
.ico-arr.down {
  transform: rotate(90deg);
}
.ico-arr.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.434' height='9.19' viewBox='0 0 11.434 9.19'%3E%3Cg id='_ic__' data-name='*ic_&gt;' transform='translate(0.727 1.465)'%3E%3Cline id='선_10' data-name='선 10' x1='9.102' y2='0.023' transform='translate(0.275 3.132)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_11' data-name='선 11' x1='3.094' y1='3.094' transform='translate(6.199 -0.051)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x1='3.09' y2='3.09' transform='translate(6.199 3.22)' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
}
>>>>>>> Stashed changes
.ico-arr.plus {
  width: 28px;
  height: 22px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.ico-arr.small {
  width: 9px;
  height: 6px;
}

.ico-arr2 {
  position: relative;
  width: 4px;
  height: 9px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.364' height='12.152' viewBox='0 0 7.364 12.152'%3E%3Cg id='ic__' data-name='ic_&lt;' transform='translate(1.414 1.414)'%3E%3Cg id='그룹_29' data-name='그룹 29'%3E%3Cline id='선_11' data-name='선 11' y1='4.535' x2='4.535' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_12' data-name='선 12' x2='4.529' y2='4.529' transform='translate(0.006 4.795)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.ico-arr2.right {
  transform: rotate(-180deg);
}

.ico-close {
  width: 8px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.521' height='12.877' viewBox='0 0 11.521 12.877'%3E%3Cg id='그룹_98' data-name='그룹 98' transform='translate(0.057 5.557)'%3E%3Cg id='그룹_137' data-name='그룹 137' transform='translate(-0.114 0.321)'%3E%3Cline id='선_139' data-name='선 139' y1='1' x2='12' transform='translate(2.344 -4.357) rotate(50)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3Cline id='선_257' data-name='선 257' x2='12' y2='1' transform='translate(10.058 -3.714) rotate(130)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
[class^='title-wrap'] {
  position: relative;
  word-break: keep-all;
}

[class^='title-wrap'] .side-box {
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
[class^=title-wrap] {
  position: relative;
  word-break: keep-all;
}
[class^=title-wrap] .side-box {
>>>>>>> Stashed changes
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
<<<<<<< Updated upstream

[class^='title-wrap'] .btn-type {
=======
[class^=title-wrap] .btn-type {
>>>>>>> Stashed changes
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title-wrap {
  display: flex;
  margin-bottom: 60px;
  text-align: center;
}

.title-wrap2 .en {
  margin-top: 15px;
  font-size: 12px;
  letter-spacing: 0.3px;
  font-weight: 600;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.title-wrap2 .ko {
  font-size: 24px;
  letter-spacing: 0.6px;
  line-height: 32px;
}

.title-type {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 28px;
  font-weight: 800;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.title-type.v2 {
  font-size: 38px;
  text-transform: uppercase;
}
<<<<<<< Updated upstream

.title-type.title-line {
  font-size: 24px;
}

.title-type.title-line:after {
  content: '';
=======
.title-type.title-line {
  font-size: 24px;
}
.title-type.title-line:after {
  content: "";
>>>>>>> Stashed changes
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  border-radius: 10px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.title-type span {
  display: block;
  margin: 0 10px;
  width: 2px;
  height: 16px;
  background-color: #000;
  transform: rotate(27deg);
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.title-type + .title-type2 {
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.recruit-list {
  display: flex;
  justify-content: space-between;
}

.all-list li {
  display: flex;
  position: relative;
  padding-left: 30px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.all-list li span {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  max-width: 795px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.all-list li .part {
  min-width: 270px;
  font-weight: 600;
}
<<<<<<< Updated upstream

.all-list li ~ li {
  margin-top: 15px;
}

.all-list :after {
  content: '';
=======
.all-list li ~ li {
  margin-top: 15px;
}
.all-list :after {
  content: "";
>>>>>>> Stashed changes
  position: absolute;
  left: 0px;
  top: 14px;
  background: #000000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.common-list {
  align-self: center;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.common-list li {
  font-size: 20px;
  line-height: 32px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.common-list li + li {
  margin-top: 15px;
}

.list-info dl dt {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 700;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.list-info dl dd p {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
<<<<<<< Updated upstream

.list-info dl dd p + p {
  margin-top: 10px;
}

.list-info dl dd dl {
  display: flex;
}

.list-info dl dd + dd {
  margin-left: 30px;
}

=======
.list-info dl dd p + p {
  margin-top: 10px;
}
.list-info dl dd dl {
  display: flex;
}
.list-info dl dd + dd {
  margin-left: 30px;
}
>>>>>>> Stashed changes
.list-info dl + dl {
  margin-top: 40px;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-paging {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.swiper-paging span {
  font-size: 0;
  display: block;
  margin: 0 10px;
  width: 2px;
  height: 10px;
  background-color: #000;
  transform: rotate(27deg);
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.swiper-paging em.swiper-pagination-current {
  font-weight: 900;
}

.swiper-button-box {
  display: flex;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.swiper-button-box .button-next,
.swiper-button-box .button-prev {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.swiper-button-box .button-next.swiper-button-disabled,
.swiper-button-box .button-prev.swiper-button-disabled {
  opacity: 0.5;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
.work-item-list .work-item {
  width: 670px;
}
<<<<<<< Updated upstream

.work-item-list .work-item .item-img {
  margin-bottom: 30px;
}

=======
.work-item-list .work-item .item-img {
  margin-bottom: 30px;
}
>>>>>>> Stashed changes
.work-item-list .work-item .item-info .item-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.work-item-list .work-item .item-info .item-sub {
  color: #666666;
  font-size: 24px;
  line-height: 36px;
}

.culture-item-list {
  margin: -130px 0px;
  padding: 200px 120px;
  background: rgba(1, 160, 233, 0.08);
  border-radius: 200px 0 0 0;
}
<<<<<<< Updated upstream

.page-guide-box .culture-item-list {
  margin: 0px;
}

=======
.page-guide-box .culture-item-list {
  margin: 0px;
}
>>>>>>> Stashed changes
.culture-item-list .culture-item {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid #ccc;
}
<<<<<<< Updated upstream

.culture-item-list .culture-item:nth-last-child(1) {
  margin-bottom: 0px;
}

=======
.culture-item-list .culture-item:nth-last-child(1) {
  margin-bottom: 0px;
}
>>>>>>> Stashed changes
.culture-item-list .culture-item a {
  display: flex;
  flex-wrap: nowrap;
}
<<<<<<< Updated upstream

.culture-item-list .culture-item .item-img {
  flex: 0 0 415px;
}

.culture-item-list .culture-item .item-info {
  padding-left: 80px;
}

=======
.culture-item-list .culture-item .item-img {
  flex: 0 0 415px;
}
.culture-item-list .culture-item .item-info {
  padding-left: 80px;
}
>>>>>>> Stashed changes
.culture-item-list .culture-item .item-info .item-title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.culture-item-list .culture-item .item-info .item-sub {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  white-space: initial;
  height: 48px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 16px;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.culture-item-list .culture-item .item-info .item-date {
  font-size: 16px;
  font-weight: 700;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
.table-wrap {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #cccccc;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.table-wrap th {
  padding: 45px 0px 42px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}
<<<<<<< Updated upstream

.table-wrap th:first-child {
  padding-left: 120px;
}

=======
.table-wrap th:first-child {
  padding-left: 120px;
}
>>>>>>> Stashed changes
.table-wrap tr td {
  padding-bottom: 90px;
  line-height: 46px;
  font-size: 26px;
  font-weight: 400;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.table-wrap tr td:first-child {
  padding-left: 120px;
  font-weight: 600;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.table-wrap tr:first-child td {
  padding-top: 85px;
}

<<<<<<< Updated upstream
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
=======
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
>>>>>>> Stashed changes
 */
.pop-full {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}
<<<<<<< Updated upstream

.pop-full .dim {
  display: block;
}

=======
.pop-full .dim {
  display: block;
}
>>>>>>> Stashed changes
.pop-full .pop-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.pop-full .pop-wrap .pop-close {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 10;
}
<<<<<<< Updated upstream

.pop-full .pop-wrap .pop-content {
  padding: 30px 20px;
}
/*# sourceMappingURL=common.css.map */
=======
.pop-full .pop-wrap .pop-content {
  padding: 30px 20px;
}/*# sourceMappingURL=common.css.map */
>>>>>>> Stashed changes
