@charset "UTF-8";
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.contact .map-wrap .map {
  height: 200vw;
  background-color: #eee;
}
.contact .list-info {
  padding: 33.3333333333vw 0;
  margin-bottom: 55.5555555556vw;
  border-bottom: 0.5555555556vw solid #ccc;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.company .company-info {
  margin: 33.3333333333vw 0vw 66.6666666667vw;
}
.company .company-info .info-title {
  margin-bottom: 22.2222222222vw;
  font-size: 13.3333333333vw;
  font-weight: 700;
  line-height: 17.7777777778vw;
  letter-spacing: 1.3333333333vw;
}
.company .company-info .swiper-slide {
  min-height: 122.2222222222vw;
}
.company .company-info .swiper-slide .title {
  margin-bottom: 11.1111111111vw;
  font-size: 10vw;
  font-weight: 700;
  line-height: 14.4444444444vw;
}
.company .company-info .swiper-slide p {
  font-size: 6.6666666667vw;
  line-height: 10vw;
}
.company .history {
  margin-top: 66.6666666667vw;
  padding-right: 16.6666666667vw;
}
.company .history .title-type {
  margin-bottom: 16.6666666667vw;
}
.company .partner {
  margin-top: 66.6666666667vw;
  padding-right: 16.6666666667vw;
}
.company .partner .title-type {
  margin-bottom: 22.2222222222vw;
}
.company .partner ul {
  display: flex;
  flex-wrap: wrap;
}
.company .partner ul li {
  margin-bottom: 27.7777777778vw;
  padding: 0vw 8.3333333333vw 0vw 6.6666666667vw;
  width: 50%;
} /*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.work.sub .inner-box2 > .title-wrap2 + .title-wrap {
  margin-bottom: 0;
  padding-bottom: 22.2222222222vw;
}
.work .title-wrap2 .ko {
  margin-bottom: 8.3333333333vw;
}
.work .title-wrap2 .ko.v2 {
  margin-bottom: 0px;
  font-size: 6.6666666667vw;
  line-height: 10vw;
}
.work .btn-wrap {
  margin: 33.3333333333vw 0vw 0vw -16.6666666667vw;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.product .business-wrap {
  margin: 0vw 0vw 55.5555555556vw 5.5555555556vw;
  padding: 33.3333333333vw 0vw 27.7777777778vw 11.1111111111vw;
  background: #F8F8F8;
}
.product .business-wrap .business-graph {
  margin-bottom: 22.2222222222vw;
  padding-right: 16.6666666667vw;
}
.product .business-wrap .business-swiper .swiper-wrapper {
  margin: 0vw -4.4444444444vw;
}
.product .business-wrap .business-swiper .swiper-wrapper .swiper-slide {
  padding: 0vw 4.4444444444vw;
}
.product .business-wrap .business-swiper .swiper-wrapper .swiper-slide img {
  margin-bottom: 5.5555555556vw;
}
.product .business-wrap .business-swiper .swiper-wrapper .swiper-slide strong {
  font-size: 8.8888888889vw;
  line-height: 13.3333333333vw;
  word-break: keep-all;
}
.product .business-wrap .business-swiper .swiper-wrapper .swiper-slide p {
  margin-top: 5.5555555556vw;
  color: #666;
}
.product .commerce-box {
  padding: 0vw 16.6666666667vw;
}
.product .commerce-box h5 {
  margin-bottom: 16.6666666667vw;
  font-size: 15.5555555556vw;
  font-weight: 800;
  line-height: 21.1111111111vw;
}
.product .commerce-box p {
  margin-bottom: 16.6666666667vw;
  font-weight: 500;
  line-height: 10vw;
}
.product .commerce-box + .commerce-box {
  margin-top: 55.5555555556vw;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.recruit .title-wrap2 .en {
  margin-bottom: 9.4444444444vw;
  font-size: 13.3333333333vw;
  line-height: 17.7777777778vw;
}
.recruit .title-wrap2 .ko {
  letter-spacing: 0.6666666667vw;
}
.recruit .title-wrap .btn-wrap {
  margin: 0vw 0vw 0vw 5.5555555556vw;
  align-self: center;
}
.recruit .title-wrap .btn-type {
  background: #ffffff;
}
.recruit .recruit-visual {
  margin-bottom: 120px;
}
.recruit .recruit-visual [class^=recruit-img].top {
  margin-bottom: 5.5555555556vw;
}
.recruit .recruit-visual [class^=recruit-img].bottom {
  display: flex;
}
.recruit .recruit-visual [class^=recruit-img].bottom .img-box + .img-box {
  margin-left: 5.5555555556vw;
}
.recruit .recruit-talent {
  margin-bottom: 66.6666666667vw;
  padding: 16.6666666667vw 21.1111111111vw 33.3333333333vw 21.1111111111vw;
  background: #F8F8F8;
}
.recruit .recruit-talent ul {
  margin: 16.6666666667vw -11.1111111111vw 0vw -11.1111111111vw;
  display: flex;
  flex-wrap: wrap;
}
.recruit .recruit-talent ul li {
  padding: 0vw 11.1111111111vw;
  width: 50%;
}
.recruit .recruit-talent ul li .title {
  margin-bottom: 6.6666666667vw;
  font-size: 10vw;
  color: #01A0E9;
  font-weight: 800;
}
.recruit .recruit-talent ul li .title span {
  margin-bottom: 2.7777777778vw;
  display: block;
  font-size: 6.6666666667vw;
  line-height: 7.7777777778vw;
}
.recruit .recruit-talent ul li .txt {
  font-size: 5.5555555556vw;
  line-height: 8.8888888889vw;
}
.recruit .recruit-talent ul li:nth-child(n+3) {
  margin-top: 22.2222222222vw;
}
.recruit .recruit-wrap {
  padding: 0vw 16.6666666667vw;
}
.recruit .recruit-box h5 {
  margin-bottom: 22.2222222222vw;
  padding-bottom: 16.6666666667vw;
  border-bottom: 2px solid #000000;
  font-size: 15.5555555556vw;
  font-weight: 800;
}
.recruit .recruit-box .sub-wrap h6 {
  margin-bottom: 16.6666666667vw;
  font-size: 10vw;
  font-weight: 700;
  line-height: 14.4444444444vw;
}
.recruit .recruit-box .sub-wrap .process-box ul {
  margin: 0vw -17.7777777778vw;
  display: flex;
  flex-wrap: wrap;
}
.recruit .recruit-box .sub-wrap .process-box ul li {
  position: relative;
  padding: 0vw 8.8888888889vw;
  text-align: center;
}
.recruit .recruit-box .sub-wrap .process-box ul li p {
  margin-top: 2.7777777778vw;
  width: 44.4444444444vw;
  line-height: 23.3333333333vw;
  font-weight: 500;
  border: 2px solid #000000;
  border-radius: 40px;
}
.recruit .recruit-box .sub-wrap .process-box ul li:nth-child(n+4) {
  margin-top: 11.1111111111vw;
}
.recruit .recruit-box .sub-wrap .process-box ul li::after {
  content: "";
  position: absolute;
  display: block;
  width: 20vw;
  top: 23.3333333333vw;
  left: 52.2222222222vw;
  border: 2px dashed #000000;
}
.recruit .recruit-box .sub-wrap .process-box ul li:nth-child(3)::after {
  display: none;
}
.recruit .recruit-box .sub-wrap .process-box ul li:last-child::after {
  display: none;
}
.recruit .recruit-box .sub-wrap .apply-info {
  margin-bottom: 16.6666666667vw;
  font-weight: 600;
  line-height: 10vw;
}
.recruit .recruit-box .sub-wrap + .sub-wrap {
  margin-top: 44.4444444444vw;
}
.recruit .recruit-box + .recruit-box {
  margin-top: 66.6666666667vw;
}

#pop-recruit .pop-wrap .pop-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider {
  width: 200vw;
  margin: 0 auto;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-navigation {
  position: absolute;
  top: 22.2222222222vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-navigation .swiper-paging {
  font-size: 7.7777777778vw;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-slide {
  align-self: center;
  max-height: 300vw;
  text-align: center;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-slide img {
  width: auto;
  height: 100%;
  max-width: 200vw;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-button-box .button-next {
  position: absolute;
  top: 50%;
  right: 11.1111111111vw;
  z-index: 1;
  cursor: pointer;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-button-box .button-prev {
  position: absolute;
  top: 50%;
  left: 11.1111111111vw;
  z-index: 1;
  cursor: pointer;
}
#pop-recruit .pop-wrap .pop-content .recruit-slider .swiper-button-box .ico-arr2 {
  width: 2.7777777778vw;
  height: 5.5555555556vw;
}

.culture .title-wrap {
  margin-bottom: -13.8888888889vw;
}
.culture .btn-wrap {
  margin: 33.3333333333vw 0vw 0vw -16.6666666667vw;
}/*# sourceMappingURL=sub.css.map */