@charset "UTF-8";
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-break: break-all;
  font-family: Pretendard, sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  word-wrap: break-word;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address,
caption,
em,
var {
  font-style: normal;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

/* 링크 */
a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

select,
input,
textarea {
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #000;
}

input[type="text"],
input[type="submit"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="reset"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="file"],
input[type="email"],
input[type="tel"] {
  padding: 0 22px;
  height: 59px;
  line-height: 59px;
  border: 1px solid #aaa;
  font-size: 18px;
  font-weight: 400;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

input[readonly] {
  pointer-events: none;
}

::placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

textarea {
  overflow: auto;
  padding: 22px;
  resize: none;
  font-size: 18px;
  border: 1px solid #aaa;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

button:disabled {
  cursor: default;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

::selection {
  background: #01A0E9;
  color: #fff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
#content {
  position: relative;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.inner-box {
  position: relative;
  width: 1640px;
  margin: 0 auto;
}

.inner-box2 {
  position: relative;
  width: 1400px;
  margin: 0 auto;
}

.sub {
  padding: 190px 0 300px;
}

.sub [class^='title-wrap'] {
  padding-left: 120px;
}

.sub .inner-box > .title-wrap2 {
  margin-bottom: 130px;
}

.sub .inner-box > .title-wrap2 + .title-wrap {
  position: relative;
  margin-bottom: -62px;
  z-index: 10;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  padding: 0 140px;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
  z-index: 79;
}

.header-wrap.top {
  background: transparent;
}

.header-wrap .logo-box h1 {
  display: flex;
}

.header-wrap .logo-box a {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-wrap .sub-menu {
  flex-grow: 1;
}

.header-wrap .sub-menu .list-depth1 {
  display: flex;
  justify-content: center;
  height: 100%;
}

.header-wrap .sub-menu .list-depth1 > li {
  padding: 0 30px;
  text-align: center;
}

.header-wrap .sub-menu .list-depth1 > li > a {
  font-size: 18px;
  font-weight: 600;
  color: #999;
  transition: 0.3s;
}

.header-wrap .sub-menu .list-depth1 > li > a.active {
  color: #000;
}

.header-wrap .side-box a {
  display: flex;
}

.header-wrap .side-box a span {
  margin-right: 15px;
  font-size: 18px;
}

.footer-wrap {
  position: relative;
  display: flex;
  padding: 120px 0 30px 140px;
  background-color: #000;
}

.footer-wrap .inner-box {
  position: relative;
}

.footer-wrap .logo-box {
  padding-right: 490px;
}

.footer-wrap .logo-box .ico-logo {
  width: 60px;
  height: 53px;
}

.footer-wrap .info-box {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  color: #aaa;
  line-height: 24px;
}

.footer-wrap .info-box .info-item {
  display: flex;
}

.footer-wrap .info-box .info-item dl dt {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}

.footer-wrap .info-box .info-item dl dd {
  margin-top: 25px;
}

.footer-wrap .info-box .info-item dl dd span {
  display: block;
}

.footer-wrap .info-box .info-item dl dd span.tel {
  margin-top: 15px;
}

.footer-wrap .info-box .info-item dl + dl {
  margin-left: 155px;
}

.footer-wrap .info-box .copy {
  margin-top: 120px;
  line-height: 70px;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.btn-wrap {
  text-align: center;
}

.btn-wrap .more {
  margin-top: 20px;
  font-size: 20px;
}

.btn-wrap.col {
  display: flex;
}

.btn-wrap.col .btn-inner {
  text-align: left;
}

.btn-wrap.col .btn-inner + .btn-inner {
  margin-left: 120px;
}

.btn-wrap.col .btn-inner h3 {
  display: block;
  margin-bottom: 40px;
}

.btn-wrap.col [class^='btn-type'] {
  margin: 0;
}

[class^='btn-type'] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

[class^='btn-type']:nth-child(n+2) {
  margin-left: 16px;
}

.btn-type {
  width: 68px;
  height: 68px;
  border: 2px solid #ccc;
  border-radius: 25px;
  font-size: 0;
  text-align: center;
  line-height: 68px;
}

.btn-type [class^='ico-'] {
  transition: all 0.3s ease-in-out;
}

.btn-type:hover .ico-arr {
  margin-right: -10px;
}

.btn-type:hover .ico-arr.lft {
  margin: 0 0 0 -10px;
}

.btn-type:hover .ico-arr.down {
  margin: 0 0 -10px 0;
}

.btn-type2 {
  border-bottom: 1px solid #000;
  font-size: 20px;
  text-align: center;
}

.btn-type2.v2 {
  border-bottom: 2px solid #000;
  font-size: 24px;
  font-weight: 700;
}

.btn-type3 {
  font-size: 30px;
  font-weight: 700;
}

.btn-type3 .ico-arr {
  margin-left: 20px;
}

.btn-type3.v2 {
  width: 200px;
  height: 80px;
  background: #000;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  text-align: center;
}

.paging-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.paging-wrap button {
  display: flex;
  align-items: center;
}

.paging-wrap button span {
  margin: 0 30px;
  font-size: 24px;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
/* svg icon */
[class^="ico-"] {
  display: inline-block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  vertical-align: middle;
  background-position: 50% 50%;
  background-size: contain;
}

.ico-logo {
  width: 43px;
  height: 38px;
  background-image: url(../images/common/logo.svg);
}

.ico-logo.white {
  width: 53px;
  height: 48px;
  background-image: url(../images/common/logo_w.svg);
}

.ico-recruit {
  background-image: url(../images/icon/recruit.svg);
}

.ico-arr {
  position: relative;
  width: 22px;
  height: 16px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.088' height='20.052'%3E%3Cg data-name='*&gt;' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='3'%3E%3Cpath data-name='선 10' d='m23.063 10.368-21.559.054'/%3E%3Cpath data-name='선 11' d='m22.968 10.422-6.924-8.309'/%3E%3Cpath data-name='선 12' d='m22.967 10.611-7.319 7.319'/%3E%3C/g%3E%3C/svg%3E");
}

.ico-arr.lft {
  transform: rotate(-180deg);
}

.ico-arr.up {
  transform: rotate(-90deg);
}

.ico-arr.down {
  transform: rotate(90deg);
}

.ico-arr.white {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.088' height='20.052'%3E%3Cg data-name='*&gt;' fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-width='3'%3E%3Cpath data-name='선 10' d='m23.063 10.368-21.559.054'/%3E%3Cpath data-name='선 11' d='m22.968 10.422-6.924-8.309'/%3E%3Cpath data-name='선 12' d='m22.967 10.611-7.319 7.319'/%3E%3C/g%3E%3C/svg%3E");
}

.ico-arr.plus {
  width: 28px;
  height: 22px;
}

.ico-arr2 {
  position: relative;
  width: 10px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.636' height='24.272' viewBox='0 0 13.636 24.272'%3E%3Cpath id='__arrow' data-name='*&lt;_arrow' d='M164.326,2536l-10.015,10.015,10.015,10.015' transform='translate(-152.811 -2533.879)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A");
}

.ico-arr2.right {
  transform: rotate(-180deg);
}

.ico-plus {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.566' height='24.566' viewBox='0 0 24.566 24.566'%3E%3Cg id='ic__' data-name='ic_+' transform='translate(1.504 4.001)'%3E%3Cline id='선_10' data-name='선 10' x1='21.559' y2='0.054' transform='translate(0 8.255)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='선_120' data-name='선 120' x1='21.559' y2='0.054' transform='translate(10.806 -2.497) rotate(90)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
}

.ico-close {
  width: 24px;
  height: 24px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24.566' height='24.566' viewBox='0 0 24.566 24.566'%3E%3Cg id='ic__' data-name='ic_+' transform='translate(1.504 4.001)'%3E%3Cline id='선_10' data-name='선 10' x1='21.559' y2='0.054' transform='translate(0 8.255)' fill='none' stroke='%23000000' stroke-linecap='round' stroke-width='3'/%3E%3Cline id='선_120' data-name='선 120' x1='21.559' y2='0.054' transform='translate(10.806 -2.497) rotate(90)' fill='none' stroke='%23000' stroke-linecap='round' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
  transform: rotate(45deg);
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
[class^='title-wrap'] {
  position: relative;
  word-break: keep-all;
}

[class^='title-wrap'] .side-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

[class^='title-wrap'] .btn-type {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.title-wrap {
  display: flex;
  margin-bottom: 60px;
  text-align: center;
}

.title-wrap2 .en {
  margin-bottom: 28px;
  font-size: 62px;
}

.title-wrap2 .ko {
  font-size: 58px;
}

.title-type {
  position: relative;
  display: inline-flex;
  align-items: center;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 1.75px;
}

.title-type.v2 {
  font-size: 100px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.title-type.title-line:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  background-color: #000;
  border-radius: 10px;
}

.title-type span {
  display: block;
  margin: 0 50px;
  width: 5px;
  height: 52px;
  background-color: #000;
  transform: rotate(27deg);
}

.title-type + .title-type2 {
  margin-top: 30px;
  font-size: 24px;
}

.recruit-list {
  display: flex;
  justify-content: space-between;
}

.all-list li {
  display: flex;
  position: relative;
  padding-left: 30px;
}

.all-list li span {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
  max-width: 795px;
}

.all-list li .part {
  min-width: 270px;
  font-weight: 600;
}

.all-list li ~ li {
  margin-top: 15px;
}

.all-list :after {
  content: '';
  position: absolute;
  left: 0px;
  top: 14px;
  background: #000000;
  width: 4px;
  height: 4px;
  border-radius: 50%;
}

.common-list {
  align-self: center;
}

.common-list li {
  font-size: 20px;
  line-height: 32px;
}

.common-list li + li {
  margin-top: 15px;
}

.list-info dl {
  display: flex;
}

.list-info dl dt {
  width: 347px;
  font-size: 40px;
  font-weight: 700;
}

.list-info dl dd {
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
}

.list-info dl dd + dd {
  margin-left: 142px;
}

.list-info dl + dl {
  margin-top: 80px;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swiper-paging {
  display: flex;
  align-items: center;
  font-size: 32px;
  color: #ccc;
}

.swiper-paging span {
  font-size: 0;
  display: block;
  margin: 0 20px;
  width: 3px;
  height: 20px;
  background-color: #ccc;
  transform: rotate(27deg);
}

.swiper-paging em.swiper-pagination-current {
  color: #000;
  font-weight: 900;
}

.swiper-button-box {
  display: flex;
}

.swiper-button-box .button-next,
.swiper-button-box .button-prev {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.swiper-button-box .button-next.swiper-button-disabled,
.swiper-button-box .button-prev.swiper-button-disabled {
  opacity: 0.5;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.work-item-list .work-item {
  width: 670px;
}

.work-item-list .work-item .item-img {
  margin-bottom: 30px;
}

.work-item-list .work-item .item-info .item-title {
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.work-item-list .work-item .item-info .item-sub {
  color: #666666;
  font-size: 24px;
  line-height: 36px;
}

.culture-item-list {
  margin: -130px 0px;
  padding: 200px 120px;
  background: rgba(1, 160, 233, 0.08);
  border-radius: 200px 0 0 0;
}

.page-guide-box .culture-item-list {
  margin: 0px;
}

.culture-item-list .culture-item {
  padding-bottom: 70px;
  margin-bottom: 70px;
  border-bottom: 1px solid #ccc;
}

.culture-item-list .culture-item:nth-last-child(1) {
  margin-bottom: 0px;
}

.culture-item-list .culture-item a {
  display: flex;
  flex-wrap: nowrap;
}

.culture-item-list .culture-item .item-img {
  flex: 0 0 415px;
}

.culture-item-list .culture-item .item-info {
  padding-left: 80px;
}

.culture-item-list .culture-item .item-info .item-title {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
}

.culture-item-list .culture-item .item-info .item-sub {
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  white-space: initial;
  height: 48px;
  margin-bottom: 20px;
  color: #666666;
  font-size: 16px;
}

.culture-item-list .culture-item .item-info .item-date {
  font-size: 16px;
  font-weight: 700;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.table-wrap {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #cccccc;
}

.table-wrap th {
  padding: 45px 0px 42px;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  border-bottom: 1px solid #cccccc;
}

.table-wrap th:first-child {
  padding-left: 120px;
}

.table-wrap tr td {
  padding-bottom: 90px;
  line-height: 46px;
  font-size: 26px;
  font-weight: 400;
}

.table-wrap tr td:first-child {
  padding-left: 120px;
  font-weight: 600;
}

.table-wrap tr:first-child td {
  padding-top: 85px;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.pop-full {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
}

.pop-full .dim {
  display: block;
}

.pop-full .pop-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.pop-full .pop-wrap .pop-close {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10;
}

.pop-full .pop-wrap .pop-content {
  padding: 40px;
}
/*# sourceMappingURL=common.css.map */