@charset "UTF-8";
/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  word-break: break-all;
  font-family: Pretendard, sans-serif;
}

::before,
::after {
  box-sizing: border-box;
}

body {
  line-height: 1.25;
  font-weight: 400;
  font-size: 16px;
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

/* 테이블 스타일 초기화 */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

td {
  word-wrap: break-word;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

legend,
caption {
  visibility: hidden;
  overflow: hidden;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

address,
caption,
em,
var {
  font-style: normal;
  font-weight: inherit;
}

strong {
  font-weight: 700;
}

/* 링크 */
a {
  color: inherit;
  text-decoration: none;
}

pre {
  font-family: inherit;
  white-space: pre-wrap;
}

/* 이미지, 폼관련 요소 */
img {
  border: 0;
  vertical-align: top;
  width: 100%;
}

select,
input,
textarea {
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0;
  outline: none;
  border: 0;
  background: #fff;
  color: #000;
}

input[type="text"],
input[type="submit"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="reset"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="file"],
input[type="email"],
input[type="tel"] {
  padding: 0 22px;
  height: 59px;
  line-height: 59px;
  border: 1px solid #aaa;
  font-size: 18px;
  font-weight: 400;
}

input[type="radio"],
input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
textarea:focus {
  border-color: #000;
  background-color: #fff;
  outline: none;
}

input[readonly] {
  pointer-events: none;
}

::placeholder {
  font-size: inherit;
  color: #bcbcbc;
}

textarea {
  overflow: auto;
  padding: 22px;
  resize: none;
  font-size: 18px;
  border: 1px solid #aaa;
}

button {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

button:disabled {
  cursor: default;
}

.hidden {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  visibility: hidden;
}

/* 크롬의 경우 */
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

::selection {
  background: #01A0E9;
  color: #fff;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  background: #e7e7e7;
}

::-webkit-scrollbar-thumb {
  background: #303030;
}

/*
 * safe-area-inset 처리
 * $key - 넣을곳(padding-top, marin-bottom, ...)
 * $direction - 방향(top, right, bottom, left)
 * $value - 더해질 값(생략가능)
 */
.main-wrap .header-wrap .sub-menu .list-depth1 > li > a {
  color: #000;
}

.main-wrap .main {
  padding: 190px 0 300px;
}

.main-wrap .main article {
  padding: 200px 0 0;
}

.main-wrap .main article .title-wrap {
  margin-bottom: 110px;
}

.main-wrap .main .visual-wrap {
  padding: 0;
}

.main-wrap .main .visual-wrap .swiper-navigation {
  width: 1400px;
  margin: 0 auto 90px;
}

.main-wrap .main .visual-wrap .visual-swiper .swiper-slide .title-box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
  overflow: hidden;
}

.main-wrap .main .visual-wrap .visual-swiper .swiper-slide .title-box .title-motion {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  position: relative;
  transform: translateY(200%);
  transition: 1s .2s;
}

.main-wrap .main .visual-wrap .visual-swiper .swiper-slide.swiper-slide-active .visual-content .title-type {
  opacity: 1;
}

.main-wrap .main .visual-wrap .visual-swiper .swiper-slide.swiper-slide-active .visual-content .title-sub, .main-wrap .main .visual-wrap .visual-swiper .swiper-slide.swiper-slide-active .visual-content .btn-type2 {
  opacity: 1;
  transform: translateY(0);
}

.main-wrap .main .visual-wrap .visual-swiper .swiper-slide.swiper-slide-active .title-box .title-motion {
  transform: translateY(0);
}

.main-wrap .main .visual-wrap .visual-swiper .visual-content {
  position: absolute;
  top: -46px;
  left: 120px;
}

.main-wrap .main .visual-wrap .visual-swiper .visual-content .title-type {
  line-height: 90px;
  opacity: 0;
  transition: 1s 0.5s;
}

.main-wrap .main .visual-wrap .visual-swiper .visual-content .title-sub {
  margin: 90px 0 0;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 2px;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s 1.2s;
}

.main-wrap .main .visual-wrap .visual-swiper .visual-content .btn-type2 {
  margin: 35px 0 0;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s 1.2s;
}

.main-wrap .main .intro-wrap {
  padding: 160px 0;
}

.main-wrap .main .intro-wrap .intro-cont {
  margin-top: 110px;
}

.main-wrap .main .intro-wrap .intro-cont dl {
  display: flex;
}

.main-wrap .main .intro-wrap .intro-cont dl dt {
  font-size: 62px;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: 3.1px;
}

.main-wrap .main .intro-wrap .intro-cont dl dd {
  padding-left: 300px;
}

.main-wrap .main .intro-wrap .intro-cont dl dd p {
  font-size: 20px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 2px;
}

.main-wrap .main .intro-wrap .intro-cont dl dd p + p {
  margin-top: 40px;
}

.main-wrap .main .business-wrap {
  padding-bottom: 200px;
  background-color: #F8F8F8;
}

.main-wrap .main .work-wrap .work-item-list {
  margin-bottom: -140px;
}

.main-wrap .main .culture-wrap .culture-list {
  display: flex;
  flex-flow: row wrap;
}

.main-wrap .main .culture-wrap .culture-list li {
  width: calc( 50% - 30px);
  margin-left: 60px;
}

.main-wrap .main .culture-wrap .culture-list li a {
  display: block;
}

.main-wrap .main .culture-wrap .culture-list li .info {
  display: block;
  margin-top: 30px;
}

.main-wrap .main .culture-wrap .culture-list li .info strong {
  display: block;
  margin-bottom: 30px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
}

.main-wrap .main .culture-wrap .culture-list li .info p {
  font-size: 16px;
}

.main-wrap .main .culture-wrap .culture-list li .info p.cont {
  color: #999;
  line-height: 24px;
  letter-spacing: 0.4px;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  white-space: initial;
  height: 48px;
}

.main-wrap .main .culture-wrap .culture-list li .info p.date {
  margin-top: 20px;
  font-size: 16px;
  color: #000;
  font-weight: 700;
}

.main-wrap .main .culture-wrap .culture-list li:nth-child(n+3) {
  margin-top: 60px;
}

.main-wrap .main .culture-wrap .culture-list li:nth-of-type(2n+1) {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */