@charset "UTF-8";
@import "../common/variable", "../common/mixin";

/* svg icon */
[class^="ico-"] {
    display: inline-block;
    width: 23px;
    height: 23px;
    background-repeat: no-repeat;
    vertical-align: middle;
    background-position: 50% 50%;
    background-size: contain;
}

//background 처리
.ico-logo {
    width: 43px;
    height: 38px;
    background-image: url(../images/common/logo.svg);

    &.white {
        width: 53px;
        height: 48px;
        background-image: url(../images/common/logo_w.svg);
    }
}
.ico-recruit{
    background-image: url(../images/icon/recruit.svg);

}

// data url 처리(색상, 크기 변경 가능토록)
// stoke 나 fill에 color 변수
@function svgIcon($iconName, $color:000) {
    $iconList: ( 
        arrow: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='25.088' height='20.052'%3E%3Cg data-name='*&gt;' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-width='3'%3E%3Cpath data-name='선 10' d='m23.063 10.368-21.559.054'/%3E%3Cpath data-name='선 11' d='m22.968 10.422-6.924-8.309'/%3E%3Cpath data-name='선 12' d='m22.967 10.611-7.319 7.319'/%3E%3C/g%3E%3C/svg%3E",
        arrow2: "%3Csvg xmlns='http://www.w3.org/2000/svg' width='13.636' height='24.272' viewBox='0 0 13.636 24.272'%3E%3Cpath id='__arrow' data-name='*&lt;_arrow' d='M164.326,2536l-10.015,10.015,10.015,10.015' transform='translate(-152.811 -2533.879)' fill='none' stroke='%23#{$color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='3'/%3E%3C/svg%3E%0A"
    );
    $icon: map-get($iconList, $iconName);
    @return url("data:image/svg+xml;charset=utf8,#{$icon}");
}

.ico-arr {
    position: relative;
    width: 22px;
    height: 16px;
    background-image: svgIcon(arrow, '000000');
    &.lft {
        transform: rotate(-180deg);
    }
    &.up {
        transform: rotate(-90deg);
    }
    &.down {
        transform: rotate(90deg);
    }
    &.white{
        background-image: svgIcon(arrow, 'ffffff');
    }
    &.plus{
        width: 28px;
        height: 22px;
    }
}
.ico-arr2 {
    position: relative;
    width: 10px;
    height: 20px;
    background-image: svgIcon(arrow2, '000000');
    &.right {
        transform: rotate(-180deg);
    }
}