@charset "UTF-8";
@import '../common/variable', '../common/mixin';

#content {
  position: relative;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.5);
}

.inner-box {
  position: relative;
  width: $inner;
  margin: 0 auto;
}

.inner-box2 {
  position: relative;
  width: $inner2;
  margin: 0 auto;
}
.sub {
  padding: 190px 0 300px;
  [class^='title-wrap'] {
    padding-left: 120px;
  }
  .inner-box {
    & > .title-wrap2 {
      margin-bottom: 130px; 
      // transform: translateY(100px);
      opacity: 0;
      transition: .5s;
      &.started {
        transform: translateY(0px);
        opacity: 1;
      }
      & + .title-wrap {
        position: relative;
        margin-bottom: -62px;
        // transform: translateY(100px);
        transition: .7s .4s;
        opacity: 0;
        z-index: 10; 
        &.started {
          transform: translateY(0px);
          opacity: 1;
        }
      }
    }
  }
}
.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 82px;
  padding: 0 140px;
  background: rgba(255, 255, 255, 0.8);
  transition: transform 0.3s;
  z-index: 79;

  &.top {
    background: transparent;
  }

  .logo-box {
    h1 {
      display: flex;
    }

    a {
      display: flex;
      align-items: center;
      height: 100%;
    }
  }

  .sub-menu {
    flex-grow: 1;

    .list-depth1 {
      display: flex;
      justify-content: center;
      height: 100%;

      > li {
        // width: 180px;
        padding: 0 30px;
        text-align: center;

        > a {
          font-size: 18px;
          font-weight: 600;
          color: $CTsub2;
          transition: 0.3s;
          &.active {
            color: $CText;
          }
        }
      }
    }
  }
  .side-box {
    a {
      display: flex;
      span {
        margin-right: 15px;
        font-size: 18px;
      }
    }
  }
}

.footer-wrap {
  position: relative;
  display: flex;
  padding: 120px 0 30px 140px;
  background-color: #000;

  .inner-box {
    position: relative;
  }

  .logo-box {
    padding-right: 490px;
    .ico-logo {
      width: 60px;
      height: 53px;
    }
  }

  .info-box {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: $CTsub3;
    line-height: 24px;
    .info-item {
      display: flex;
      dl {
        dt {
          font-size: 20px;
          font-weight: 700;
          color: #fff;
        }
        dd {
          margin-top: 25px;
          span {
            display: block;
            &.tel {
              margin-top: 15px;
            }
          }
        }
        & + dl {
          margin-left: 155px;
        }
      }
    }
    .copy {
      margin-top: 120px;
      line-height: 70px;
    }
  }
}


@include pc-inner {
  .inner-box{
    width: 1400px;
  }
  .inner-box2{
    width: 1200px;
  }
  .footer-wrap {
    .logo-box {
      padding-right: 350px;
    }
  }
}

@media all and (min-width:768px) and (max-width:1200px) {
  .header-wrap{
    padding: 0 50px;
  }
  .footer-wrap{
    padding-left: 50px;
    .logo-box {
      padding-right:150px;
    }
  }
}