@charset "UTF-8";
@import "../common/variable", "../common/mixin";

.pop-full {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	height: 100%;

	&.active{
	}

	.dim{
		display: block;
	}
	
	.pop-wrap {
		position: relative;
		width: 100%;
		height: 100%;
		background-color: #fff;
		.pop-close {
			position: absolute;
			top: 40px;
			right: 40px;
			z-index: 10;
		}

		.pop-content {
			padding: 40px;
		}
	}
}