
<footer class="footer-wrap">
		<div class="logo-box">
			<i class="ico-logo white"><span class="hidden">플그림</span></i>
		</div>
		<div class="info-box">
			<div class="info-item">
				<dl>
					<dt>Office adress</dt>
					<dd>
						<address>
							<p>04782 서울시 성동구 연무장 5가길 7, W1404호<br/>W1404호 (성수동2가, 현대테라스타워)</p>
							<p class="tel"><a href="tel:02-733-9200">T. 02-733-9200 F. 02-733-9201</a></p>
						</address>
					</dd>
				</dl>
				<dl>
					<dt>Contact</dt>
					<dd>
						<address>
							<p>
								sales@plgrim.com (pjt request)<br/>
								recruit_plgrim@plgrim.com (recruit)
							</p>
						</address>
					</dd>
				</dl>
			</div>
			<p class="copy">
				© 2021 Plgrim. All Rights Reserved.
			</p>
		</div>
</footer>