<header class="header-wrap">
	<div class="logo-box">
		<a href="../main/main.html">
			<h1><i class="ico-logo"><span class="hidden">플그림</span></i></h1>
		</a>
	</div>

	<!-- <div class="sub-menu">
		<ul class="list-depth1">
			<li>
				<a href="#" name="link" data-index="company"><span>Company</span></a>
			</li>
			<li>
				<a href="#" name="link" data-index="work"><span>Work</span></a>
			</li>
			<li>
				<a href="#" name="link" data-index="product"><span>Product</span></a>
			</li>
			<li>
				<a href="#" name="link" data-index="culture"><span>Culture</span></a>
			</li>
			<li>
				<a href="#" name="link" data-index="contact"><span>Contact</span></a>
			</li>
		</ul>
	</div>

	<div class="side-box">
		<a href="#"><span>Recruit</span><i class="ico-recruit"><span class="hidden">채용</span></i></a>
	</div> -->
</header>